asn1crypto==0.24.0
certifi==2020.6.20
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.9
en-core-web-sm==2.0.0
-e git+https://github.com/hhexiy/fairseq.git@dbe7ec1f20e54b780d8deabfe3d4622d1a5c365d#egg=fairseq
Fuzzy==1.2.2
idna==2.8
joblib==1.1.0
kiwisolver==1.0.1
matplotlib==3.0.3
mkl-fft==1.0.10
mkl-random==1.0.2
msgpack==0.5.6
msgpack-numpy==0.4.4.2
murmurhash==0.28.0
nltk==3.3
numpy==1.16.2
olefile==0.46
Pillow==5.4.1
plac==0.9.6
preshed==1.0.1
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
regex==2018.6.21
requests==2.21.0
scikit-learn==0.22.1
scipy==1.2.1
six==1.12.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.3
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
tornado==6.0.1
tqdm==4.31.1
ujson==1.35
urllib3==1.24.3
wrapt==1.10.11
